[submodule "host/ext/RS-232"]
	path = host/ext/RS-232
	url = https://gitlab.com/Teuniz/RS-232.git
[submodule "host/ext/serialib"]
	path = host/ext/serialib
	url = git@github.com:imabot2/serialib.git
